.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none; // <----- ???

  .dropdown-toggle {
    display: flex;
    align-items: center;

    &::after {
      content: none !important;
    }
  }

  .dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
    min-width: fit-content !important;
    padding: 0;

    hr {
      margin: 0;
    }

    li {
      width: 100%;
      font-size: 0.9rem;

      .dropdown-item:active {
        color: white;
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }
  
  &:hover {
    color: white;
  }
}
