@use "../../scss/abstracts/variables" as *;

.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;

  padding: 1px 6px;

  &:hover {
    color: white;
  }
}

.dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 100% !important;
  min-width: fit-content !important;
  padding: 0;

  .dropdown-item {
    font-size: 0.9rem;
    padding: 1px 8px;

    &:active {
      color: white;
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}
