.similar-panel {
  margin-top: 2rem;
  grid-column: 2/16;
  grid-row: 17/21;

  p {
    padding-left: 0.75rem;
  }

  .panel-wrapper {
    height: calc(100% - 1.5rem);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    border: none;
    background-color: transparent;

    &.err {
      background-color: rgba(0, 0, 0, 0.4);
      border: 1px solid #9ab;
    }
  }
}
