@use "../abstracts/variables" as *;

.wrapper {
  background-color: #1a2127;
  padding-top: 2rem;

  &.movie {
    background-color: transparent;
  }
}

.panel-wrapper {
  border-radius: 0.3rem;
  border: 1px solid $gray;
  background-color: rgba(0, 0, 0, 0.4);

  &.err {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4) !important;
    border: 1px solid #9ab!important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    border-radius: 0.4rem;
  }

  span {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;

    p {
      font-size: 0.75rem;
    }

    hr {
      margin-top: auto;
    }
  }

  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
  }
}

#root,
body,
.App {
  height: 100%;
  overflow-x: hidden;
  background-color: #1a2127;
}

section {
  display: flex;
  flex-direction: row;
}

.container {
  color: #9ab;
  padding: 0 !important;

  @media (min-width: 768px) {
    max-width: 540px !important;
  }

  @media (min-width: 992px) {
    max-width: 720px !important;
  }

  @media (min-width: 1200px) {
    max-width: 950px !important;
  }
}
