.wrapper {
  background-color: #1a2127;
  padding-top: 2rem;

  &.movie {
    background-color: transparent;
  }
}

#root,
body,
.App {
  height: 100%;
  overflow-x: hidden;
  background-color: #1a2127;
}

section {
  display: flex;
  flex-direction: row;
}

.container {
  color: #9ab;
  padding: 0 !important;

  @media (min-width: 768px) {
    max-width: 540px !important;
  }

  @media (min-width: 992px) {
    max-width: 720px !important;
  }

  @media (min-width: 1200px) {
    max-width: 950px !important;
  }
}
