.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: crimson;
  // background-color: transparent;
  margin: 0 12rem;
  border-radius: 10px;
  max-width: 1400px;
}

.App {
  height: 100%;
  background-color: #1a2127;
}