@use "../../scss/abstracts/variables" as *;

.movie-card-wrapper {
  display: flex;
  justify-content: center;

  .movie-card-content {
    border-radius: 5px;
    border: 1px solid $gray;

    img {
      border-radius: 5px;
    }
  }
}
