@use "scss/abstracts/variables" as *;

.movieCard {
  display: flex;
  justify-content: center;

  .movieCard__content {
    border-radius: 5px;
    border: 1px solid $gray;

    img {
      border-radius: 5px;
    }
  }
}
