@use "../../scss/abstracts/variables" as *;

.header__buttons {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  .dropdown {
    i {
      color: white;
      border-radius: 12px;
      font-size: 0.75rem;
    }

    span {
      font-family: "Roboto";
      font-weight: 500;
    }
  }

  button {
    background-color: transparent;
    color: $lightgray;
    font-family: "Roboto";
    font-weight: 500;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    white-space: nowrap;

    &:hover {
      color: white;
    }

    &.header__log {
      width: 4rem;
      background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);
      color: white;
      border-radius: 0.2rem;
    }
  }
}
