.movie-page__content {
  padding-top: 400px;
  padding-bottom: 40px;

  &.no-backdrop {
    padding-top: 80px;
  }

  .grid-wrapper {
    position: relative;
    font-family: "Open Sans";
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    // grid-template-rows: repeat(21, 1fr);
    grid-template-rows: repeat(21, 69px);
    width: 100%;
    overflow: hidden;


    .movie-page__poster {
      grid-column: 1/5;
      grid-row: 1/6;
    }

    .movie-page__overview {
      line-height: 148%;
      display: -webkit-box;
      grid-column: 5/13;
      grid-row: 2/6;
      margin: 1rem 1rem 0 1rem;
      -webkit-line-clamp: 11;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-word;
    }
  }
}
