.movie_header {
  display: inline;
  margin-left: 1rem;
  grid-column: 5/17;
  grid-row: 1/2;
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  margin-bottom: -5px;

  .movie_title {
    line-height: 100%;
    text-shadow: #000 2px 0 5px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 3rem;

    &.text-small {
      font-size: 2rem;
    }
  }

  .side_info {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    font-size: 1rem;
    align-items: end;

    & > p {
      margin-left: 1rem;
    }

    .movie_shot_by {
      display: flex;
      flex-direction: row;
      margin-left: 5rem;
    }
  }
}
