@use "../../scss/abstracts/variables" as *;

.error-page {
  height: 100%;
  overflow: hidden;

  color: white;
  text-shadow: #000 -2px 2px 5px;

  .backdrop {
    height: 100%;
    width: 125vw;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }

  .error-page__message {
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 6rem;

    p {
      color: white;
      font-size: 2rem;
    }
  }

  .error-page__annotation {
    display: flex;
    flex-direction: row;
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    margin-right: 1rem;

    p:last-child {
      margin-left: 0.75rem;
    }
  }
}
